Django
django-ninja
requests
openai
pydantic

docstring-parser
feedparser
beautifulsoup4
googlesearch-python

# private
django-sesame
django-widget-tweaks
django-recaptcha
django-ses[events]
python-dotenv
stripe
