Django
django-ninja
requests
openai
pydantic
uvicorn

docstring-parser
feedparser
beautifulsoup4
googlesearch-python

# private
django-storages[s3]
django-sesame
django-widget-tweaks
django-recaptcha
django-ses[events]
python-dotenv
stripe
