<div class="col">
    <div class="card border-success">
        <div class="card-body" id="assistant-${tempId}">

            <!-- Edit Form (Initially Visible) -->
            <div class="edit-mode">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name-${tempId}" placeholder="Name">
                        <label for="name-${tempId}" class="form-label">Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="description-${tempId}" placeholder="Description"
                                  rows="3"></textarea>
                        <label for="description-${tempId}">Description</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="instructions-${tempId}" placeholder="Instructions"
                                  style="height: 100px"></textarea>
                        <label for="instructions-${tempId}">Instructions</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="model-${tempId}">
                            <option value="gpt-4o">gpt-4o</option>
                            <option value="gpt-4o-mini">gpt-4o-mini</option>
                        </select>
                        <label for="model-${tempId}">Model</label>
                    </div>

                    <h6 class="card-title text-secondary">Tools</h6>

                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="fileSearchSwitch-${tempId}" onchange="toggleAssistantFileSearch('${tempId}')">
                            <label class="form-check-label" for="fileSearchSwitch-${tempId}">File search</label>
                        </div>

                        <div class="form-floating" id="vector-store-div-${tempId}" style="display: none;">
                            ${selectVectorStore}
                            <label for="vs-${tempId}">Vector store</label>
                        </div>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="codeInterpreterSwitch-${tempId}" checked>
                        <label class="form-check-label" for="codeInterpreterSwitch-${tempId}">Code interpreter</label>
                    </div>

                    <small class="text-secondary">Functions</small>
                    <div class="mb-3" id="functions-list-${tempId}">
                        <!-- Function checkboxes will be inserted here -->
                    </div>

                    <h6 class="card-title text-secondary">Metadata</h6>

                    <!-- Metadata Fields -->
                    <div class="metadata-fields" id="metadata-fields-${tempId}">
                        <!-- Parameter entries will be added here dynamically -->
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addMetadataField('${tempId}')">
                        Add parameter
                    </button>
                </form>
            </div>

        </div>

        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="edit-mode">
                <button type="button" class="btn btn-sm btn-outline-success btnModifyAssistant"
                        data-assistant-id="${tempId}"
                        onclick="saveNewAssistant('${tempId}')">
                    <span class="button-text"><i class="bi bi-check-lg"></i></span>
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        onclick="removeAssistantCard('${tempId}')">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>
