<div class="col">

    <div class="card">

        <div class="card-body" id="${file.id}">

            <div class="d-flex justify-content-between align-items-center">

                <h6 class="card-title my-0">
                    ${file.filename}
                </h6>

                <div>
                    <small class="small text-secondary">
                        ${bytesToSize(file.bytes)}
                    </small>
                </div>

            </div>

            <!-- Info -->

            <div class="brief-info">

                <div class="collapse show">

                    <div class="info-box mt-4">
                        <span class="info-label">Created ${timeSince(file.created_at * 1000)} ago</span>
                        <p class="info-value">${new Date(file.created_at * 1000).toLocaleString()}</p>
                    </div>

                    ${vectorStoresHtml}

                </div>

            </div>

            <!-- Edit Form (Initially Hidden) -->

            <!-- List all available vector stores with checkboxes -->

            <div class="edit-mode d-none">

                <form>

                    ${vectorStoresForm}

                </form>

            </div>

        </div>


        <div class="card-footer d-flex justify-content-between align-items-center">

            <div>

                <div class="brief-info">
                    <button type="button" onclick="toggleEditMode('${file.id}', 'file')"
                            class="btn btn-sm btn-outline-secondary"
                            data-bs-toggle="tooltip" data-bs-title="Edit">
                        <i class="bi bi-pencil"></i>
                    </button>
                </div>

                <div class="edit-mode d-none">
                    <button type="button" class="btn btn-sm btn-outline-success btnModifyFile"
                            onclick="modifyFileVectorStores('${file.id}');"
                            data-file-id="${file.id}"
                            data-bs-toggle="tooltip" data-bs-title="Save">
                        <span class="button-text"><i class="bi bi-check-lg"></i></span>
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                            onclick="toggleEditMode('${file.id}', 'file')"
                            data-bs-toggle="tooltip" data-bs-title="Cancel">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>

            </div>

            <div>
                <button type="button" class="btn btn-sm btn-outline-danger"
                        data-bs-toggle="tooltip" data-bs-title="Delete" onclick="deleteFile('${file.id}')">
                    <i class="bi bi-trash"></i>
                </button>
            </div>

        </div>

    </div>
</div>
