<div class="col">
    <div class="card">

        <div class="card-body" id="${folder.uuid}">

            <!-- Info -->

            <div class="brief-info">

                <div class="d-flex justify-content-between align-items-center">

                    <h6 class="card-title my-0">
                        ${folder.name}
                    </h6>

                </div>

                <div class="collapse show">

                    <div class="info-box">
                        <p class="info-value">${folder.file_ids.length} file(s)</p>
                    </div>

                    <div class="info-box">
                        <span class="info-label">Created ${timeSince(folder.created_at * 1000)} ago</span>
                        <p class="info-value">${new Date(folder.created_at * 1000).toLocaleString()}</p>
                    </div>

                    <div class="info-box">
                        <span class="info-label">Last modified ${timeSince(folder.modified_at * 1000)} ago</span>
                        <p class="info-value">${new Date(folder.modified_at * 1000).toLocaleString()}</p>
                    </div>

                </div>

            </div>

        </div>


        <div class="card-footer d-flex justify-content-between align-items-center">

            <div>

                <!-- Edit Button -->
                <div class="brief-info">
                    <a href="#" onclick="editFolder('${folder.uuid}')"
                            class="btn btn-sm btn-outline-secondary"
                            data-bs-toggle="tooltip" data-bs-title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div>

            </div>

            <!-- Action Buttons -->
            <div class="brief-info">
                <button type="button" class="btn btn-sm btn-outline-secondary folder-files-button"
                        data-bs-toggle="tooltip" data-bs-title="Files"
                        data-folder-uuid="${folder.uuid}"
                        onclick="hideTooltip(this); toggleAssistantFilterByFolder('${folder.uuid}', this)">
                    <i class="bi bi-archive"></i>
                </button>
            </div>

        </div>

    </div>
</div>
