<div class="col">

    <div class="card">

        <div class="card-body" id="${func.id}">

            <div class="d-flex justify-content-between align-items-center">

                <h6 class="card-title my-0">
                    ${func.name}
                </h6>

            </div>

            <!-- Info -->

            <div class="brief-info">

                <div class="collapse show">

                </div>

            </div>

        </div>


        <div class="card-footer d-flex justify-content-between align-items-center">

            <div>

                <!-- Edit Button -->
                <div class="brief-info">
                    <a href="#"
                            class="btn btn-sm btn-outline-secondary"
                            data-bs-toggle="tooltip" data-bs-title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div>

            </div>

            <!-- Action Buttons to Hide in Edit Mode -->
            <div class="brief-info">
                <button type="button" class="btn btn-sm btn-outline-danger"
                        data-bs-toggle="tooltip" data-bs-title="Delete">
                    <i class="bi bi-trash"></i>
                </button>
            </div>

        </div>

    </div>
</div>
