<!-- Assistant Deletion Confirmation Modal -->
<div class="modal fade" id="assistantDeleteModal" tabindex="-1" aria-labelledby="assistantDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="assistantDeleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Confirmation message -->
                <span>Are you sure you want to delete this assistant?</span>
                <div id="assistantInfo" class="alert alert-info mt-2 py-2 small" role="alert"></div>
            </div>
            <div class="modal-footer py-2">
                <small class="small text-secondary me-auto">
                    <i class="bi bi-exclamation-circle-fill"></i> This action cannot be undone!
                </small>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                        id="cancelAssistantDeleteModalBtn">Cancel</button>
                <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteAssistantBtn">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="button-text">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Folder Deletion Confirmation Modal -->
<div class="modal fade" id="folderDeleteModal" tabindex="-1" aria-labelledby="folderDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="folderDeleteModalLabel">Confirm Folder Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to delete this folder?</span>
                <div id="folderInfo" class="alert alert-info mt-2 py-2 small" role="alert"></div>
                <div id="assistantsUsingFolder" class="d-none mt-2">
                    <p>The following assistant(s) are using this folder:</p>
                    <ul id="assistantsUsingFolderList" class="alert alert-warning py-2 small" role="list"></ul>
                </div>
            </div>
            <div class="modal-footer py-2">
                <small class="small text-secondary me-auto">
                    <i class="bi bi-exclamation-circle-fill"></i> This action cannot be undone!
                </small>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                        id="cancelFolderDeleteModalBtn">Cancel
                </button>
                <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteFolderBtn">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="button-text">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Function Deletion Confirmation Modal -->
<div class="modal fade" id="functionDeleteModal" tabindex="-1" aria-labelledby="functionDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="functionDeleteModalLabel">Confirm Function Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Confirmation message -->
                <span>Are you sure you want to delete this function?</span>
                <div id="functionInfo" class="alert alert-info mt-2 py-2 small" role="alert"></div>
                <div id="assistantsUsingFunction" class="d-none mt-2">
                    <p>The following assistant(s) are using this function:</p>
                    <ul id="assistantsUsingFunctionList" class="alert alert-warning py-2 small" role="list"></ul>
                </div>
            </div>
            <div class="modal-footer py-2">
                <small class="small text-secondary me-auto">
                    <i class="bi bi-exclamation-circle-fill"></i> This action cannot be undone!
                </small>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                        id="cancelFunctionDeleteModalBtn">Cancel
                </button>
                <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteFunctionBtn">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="button-text">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
