<!-- Assistant Deletion Confirmation Modal -->
<div class="modal fade" id="assistantDeleteModal" tabindex="-1" aria-labelledby="assistantDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="assistantDeleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Confirmation message -->
                <span>Are you sure you want to delete this assistant?</span>
                <div id="assistantInfo" class="alert alert-info mt-2 py-2 small" role="alert"></div>
            </div>
            <div class="modal-footer py-2">
                <small class="small text-secondary me-auto">
                    <i class="bi bi-exclamation-circle-fill"></i> This action cannot be undone!
                </small>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                        id="cancelAssistantDeleteModalBtn">Cancel</button>
                <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteAssistantBtn">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="button-text">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Vector Store Deletion Confirmation Modal -->
<div class="modal fade" id="vectorStoreDeleteModal" tabindex="-1" aria-labelledby="vectorStoreDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="vectorStoreDeleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- The content will be populated dynamically -->
                <span>Are you sure you want to delete this vector store?</span>
                <div id="vectorStoreInfo" class="alert alert-info mt-2 py-2 small" role="alert"></div>
                <div id="assistantsUsingVectorStore" class="d-none mt-2">
                    <p>The following assistant(s) are using this vector store:</p>
                    <ul id="assistantNamesList" class="alert alert-warning py-2 small" role="list"></ul>
                </div>
            </div>
            <div class="modal-footer py-2">
                <small class="small text-secondary me-auto"><i class="bi bi-exclamation-circle-fill"></i> This action cannot be undone!</small>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteVectorStoreBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- File Deletion Confirmation Modal -->
<div class="modal fade" id="fileDeleteModal" tabindex="-1" aria-labelledby="fileDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="fileDeleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Confirmation message -->
                <span>Are you sure you want to delete this file?</span>
                <div id="fileInfo" class="alert alert-info mt-2 py-2 small" role="alert"></div>
                <div id="vectorStoresUsingFile" class="d-none mt-2">
                    <p>This file is associated with the following vector store(s):</p>
                    <ul id="vectorStoreNamesList" class="alert alert-warning py-2 small" role="list"></ul>
                </div>
            </div>
            <div class="modal-footer py-2">
                <small class="small text-secondary me-auto">
                    <i class="bi bi-exclamation-circle-fill"></i> This action cannot be undone!
                </small>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteFileBtn">Delete</button>
            </div>
        </div>
    </div>
</div>
