<!-- Get Started Modal -->
<div class="modal fade" id="getStartedModal" tabindex="-1" aria-labelledby="getStartedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header with Close Button -->
            <div class="modal-header">
                <h5 class="modal-title" id="getStartedModalLabel">Get Started</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <h5 class="mb-3">Create an Assistant</h5>
                <form id="assistantForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="assistantName" placeholder="Assistant Name" maxlength="256" value="My first assistant">
                        <label for="assistantName">Name</label>
                        <small id="nameHelp" class="form-text text-danger d-none">The maximum character length is reached.</small>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="assistantDescription" placeholder="Description" style="height: 100px" maxlength="512"></textarea>
                        <label for="assistantDescription">Description</label>
                        <small id="descriptionHelp" class="form-text text-danger d-none">The maximum character length is reached.</small>
                    </div>
                    <div class="form-floating mb-3 position-relative">
                        <textarea class="form-control" id="assistantInstructions" placeholder="Instructions" style="height: 100px" required></textarea>
                        <label for="assistantInstructions">Instructions</label>
                            <button type="button" id="instructionsHelpButton" class="btn btn-sm btn-outline-light text-info-emphasis position-absolute top-0 end-0 me-3 mt-3">
                                <i class="bi bi-stars"></i> Generate
                            </button>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-primary btn-sm" id="getStartedCreateButton">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="button-text">Create</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Instructions Help Modal -->
<div class="modal fade" id="instructionsHelpModal" tabindex="-1" aria-labelledby="instructionsHelpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instructionsHelpModalLabel">Describe your assistant's purpose.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-success btn-sm" id="confirmInstructionsHelpModal">Apply</button>
            </div>
        </div>
    </div>
</div>
