<div class="modal fade" id="shareThreadModal" tabindex="-1" aria-labelledby="shareThreadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareThreadModalLabel">Share Thread</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3" id="shared-links-info">
                    <p class="small">You can create links to share this thread. The links you create are listed below.</p>
                </div>

                <div class="mb-3" id="shared-links-list">
                    <!-- Existing shared links will be listed here -->
                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-primary btn-sm"
                        id="create-shared-link">Create New Link</button>
            </div>

        </div>
    </div>
</div>
