<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Open Assistants{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fastly.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>

{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand text-muted" href="{% url "home" %}">Open Assistants</a>

            <ul class="navbar-nav me-auto mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if not selected_project %}disabled{% endif %}"
                           href="{% url "manage_assistants" %}">Manage</a>
                    </li>
                {% endif %}
            </ul>

            <div class="ms-auto d-flex align-items-center">

                {% if user.is_authenticated %}

                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown ms-md-2">

                            <a class="nav-link" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-person-square fs-5"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" id="project-dropdown-list" style="min-width: 220px;">

                                <li>
                                    <h6 class="dropdown-header">Project keys</h6>
                                </li>

                                {% for project in user_projects %}
                                    <li id="dropdown-project-{{ project.id }}">
                                        <a class="dropdown-item d-flex justify-content-between"
                                           href="javascript:void(0);" onclick="setProject({{ project.id }})">
                                            {{ project }}
                                            {% if project.id == selected_project.id %}
                                                <i class="bi bi-key-fill"></i>
                                            {% else %}
                                                <i class="bi bi-key"></i>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}

                                <li>
                                    <a class="dropdown-item d-flex justify-content-between" href="#"
                                       data-bs-toggle="modal" data-bs-target="#manageKeysModal">
                                        <i class="text-secondary small">Manage keys</i>
                                    </a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a href="#" class="dropdown-item d-flex justify-content-between" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                        Log out
                                        <i class="bi bi-box-arrow-right"></i>
                                    </a>
                                    <form id="logout-form" method="post" action="{% url 'admin:logout' %}" style="display: none;">
                                        {% csrf_token %}
                                    </form>
                                </li>

                            </ul>

                        </li>

                    </ul>

                {% else %}

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:login' %}?next=/">

                                Login / Signup

                            </a>
                        </li>
                    </ul>

                {% endif %}

            </div>

        </div>
    </nav>
{% endblock %}

{% block content %}{% endblock %}

{% include "modals/manage_keys_modal.html" %}
{% include "partials/toast_template.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% include "modals/manage_keys_js.html" %}

<script>
    const selected_project_id = {{ selected_project.id|default:"null" }};

    document.addEventListener('DOMContentLoaded', function () {
        const tooltipList = new bootstrap.Tooltip(document.body, {
            selector: '[data-bs-toggle="tooltip"]'
        });
    });

    function setProject(projectId) {
        fetch("{% url 'set_project' %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({project_id: projectId})
        }).then(response => {
            if (response.ok) {
                // Show success message
                showToast('Success!', 'Key has been set successfully!', 'success');

                // Delay the page reload to allow the user to see the toast
                setTimeout(() => {
                    window.location.reload();  // Reload to reflect the selected project
                }, 1000); // Delay of 1 second
            } else {
                response.json().then(data => {
                    showToast('Error!', data.error);
                    console.error('Error!', data.error);
                }).catch(() => {
                    showToast('Error', 'An unexpected error occurred');
                });
            }
        }).catch(error => {
            showToast('Error:', error);
            console.error('Error:', error);
        });
    }

    // Function to show toast messages
    function showToast(title, body = "", style = "danger") {
        // List of valid Bootstrap alert styles
        const validStyles = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark', 'muted', 'white'];

        // Map Django message tags to Bootstrap alert classes
        const styleMapping = {
            'debug': 'secondary',
            'info': 'info',
            'success': 'success',
            'warning': 'warning',
            'error': 'danger'
        };

        // Use the provided style directly if it's a valid Bootstrap class
        let alertStyle;
        if (validStyles.includes(style)) {
            alertStyle = style;
        } else if (styleMapping[style]) {
            // If it's a Django message tag, map it
            alertStyle = styleMapping[style];
        } else {
            // Default to 'primary' if no match
            alertStyle = 'primary';
        }

        const toastContainer = document.getElementById('toast-container');
        const toastTemplate = document.getElementById('toast-template');

        // Clone the toast template
        const newToast = toastTemplate.cloneNode(true);
        newToast.id = ''; // Clear the ID to avoid duplicate IDs

        // Set the toast message
        newToast.innerHTML = `
        <div class="toast-header text-${alertStyle}">
            <strong class="me-auto">${title}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

    `;
        if (body) {
            newToast.innerHTML += `<div class="toast-body">${body}</div>`;
        }

        // Append the new toast to the container
        toastContainer.appendChild(newToast);

        // Initialize the new toast
        const bootstrapToast = new bootstrap.Toast(newToast);
        bootstrapToast.show();

        // Remove the toast from the DOM after it hides
        newToast.addEventListener('hidden.bs.toast', () => {
            newToast.remove();
        });
    }

    // Function for parsing OpenAI API error strings
    function parseErrorText(errorText) {
        try {
            // Ensure errorText is always treated as a string
            if (typeof errorText !== 'string') {
                errorText = JSON.stringify(errorText);
            }

            // Extract the error code using a regular expression
            const errorCodeMatch = errorText.match(/Error code: (\d+)/);
            const errorCode = errorCodeMatch ? parseInt(errorCodeMatch[1], 10) : null;

            // Extract the JSON-like part of the string after the error code
            const jsonStringMatch = errorText.match(/-\s*(\{.*\})$/);
            if (!jsonStringMatch) {
                throw new Error('Invalid error format');
            }

            // Clean the JSON-like string part
            let jsonString = jsonStringMatch[1];

            jsonString = jsonString.replace(/'{/g, '{"')
                .replace(/}'/g, '"}')
                .replace(/'([a-zA-Z0-9_]+)':/g, '"$1":')  // Replace single quotes around keys only
                .replace(/: '([^']*)'/g, ': "$1"')         // Replace single quotes around values only
                .replace(/None/g, 'null');                  // Replace Python's None with JavaScript's null

            // Parse the cleaned-up string into a JavaScript object
            const errorObject = JSON.parse(jsonString);

            // Return the parsed error details
            return {
                errorCode: errorCode,
                errorMessage: errorObject.error.message || "An error occurred",
                errorType: errorObject.error.type || "Unknown",
                errorParam: errorObject.error.param || null,
                errorCodeDetail: errorObject.error.code || null
            };
        } catch (error) {
            console.error("Failed to parse the error message:", error);
            return {
                errorCode: null,
                errorMessage: errorText,  // Return the original error text if parsing fails
                errorType: "Unknown",
                errorParam: null,
                errorCodeDetail: null
            };
        }
    }

    // Helper function to check if the file type is supported for file search
    function isSupportedFileType(fileName) {
        const supportedFileTypes = {
            ".c": "text/x-c",
            ".cpp": "text/x-c++",
            ".css": "text/css",
            ".docx": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            ".go": "text/x-golang",
            ".html": "text/html",
            ".java": "text/x-java",
            ".js": "text/javascript",
            ".json": "application/json",
            ".md": "text/markdown",
            ".pdf": "application/pdf",
            ".php": "text/x-php",
            ".pptx": "application/vnd.openxmlformats-officedocument.presentationml.presentation",
            ".py": ["text/x-python", "text/x-script.python"],
            ".rb": "text/x-ruby",
            ".tex": "text/x-tex",
            ".ts": "application/typescript",
            ".txt": "text/plain"
        };
        const extension = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
        return supportedFileTypes.hasOwnProperty(extension);
    }

    /* Utility functions */

    function bytesToSize(bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes === 0) return '0 Bytes';
        const i = Math.floor(Math.log(bytes) / Math.log(1024));
        const size = bytes / Math.pow(1024, i);
        return `${size.toFixed(2)} ${sizes[i]}`;
    }

    function toggleLoading(contentId, show) {
        const loadingElement = document.getElementById(`loading-${contentId}`);
        if (loadingElement) {
            loadingElement.style.display = show ? 'block' : 'none';
        }
    }

</script>

{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
            showToast('Info', '{{ message.message|escapejs }}', '{{ message.tags }}');
        {% endfor %}
    });
</script>
{% endif %}

{% block extra_scripts %}{% endblock %}

</body>
</html>
