{% extends "base.html" %}


{% block content %}

    <div class="container mt-4">

        <h1 class="fs-3">Welcome to Open Assistants!</h1>

        <p class="lead">
            Manage, test and publish your OpenAI Assistants
        </p>

    </div>

    {% if not selected_project %}

    <div class="container mt-4">
        <div class="alert alert-warning">
            Please provide an OpenAI project key.
            <hr>
            <a class="btn btn-outline-success" href="#" data-bs-toggle="modal" data-bs-target="#manageKeysModal">
                Add project key
            </a>
        </div>
    </div>

    {% endif %}

{% endblock %}
