<div id="folders-tab-container" class="my-4">
    {% include 'partials/loading_indicator.html' with content_id='loadingFoldersTab' content_name='folders' %}
    <div class="row">
        <div class="col-3">
            <button class="btn btn-outline-success btn-lg w-100 mb-3" onclick="createNewFolder()">Create New Folder</button>
            <ul class="nav nav-pills flex-column" role="tablist" id="foldersNavTabs">
            </ul>
        </div>
        <div class="col-9">
            <div class="tab-content" id="folderContent">
            </div>
        </div>
    </div>
</div>
